* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #141414;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", "Noto Serif KR";
  font-weight: 400;
}

header {
  width: 100%;
  border-bottom: 1.5px solid #eee;
  font-weight: 600;
}

nav {
  width: 1170px;
  margin: 0 auto;
  padding: 16px 18px 8px 30px;
  display: flex;
  justify-content: space-between;
}
nav > div {
  display: flex;
}
nav form {
  background-color: #f1f1f1;
  padding: 0 13px;
  border-radius: 5px;
  line-height: 43px;
}
nav input {
  border: none;
  background: none;
}

header > div {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px 0 18px;
  display: flex;
  justify-content: space-between;
}
header > div img {
  width: 17px;
  height: 17px;
}

#area {
  width: 100%;
  font-weight: 600;
}
#area ul {
  width: 1170px;
  margin: 0 auto;
  padding: 13px 30px;
  display: flex;
}