* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #141414;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", "Noto Serif KR";
  font-weight: 400;
}

header {
  width: 100%;
  border-bottom: 1.5px solid #eee;
  font-weight: 600;
}

nav {
  width: 1170px;
  margin: 0 auto;
  padding: 16px 30px 8px 30px;
  display: flex;
  justify-content: space-between;
}
nav > a {
  width: 56.96px;
  height: 20.3px;
  align-self: center;
}
nav img {
  width: 100%;
}
nav > div {
  display: flex;
}
nav > div a {
  align-self: center;
  font-size: 14.2px;
  opacity: 0.58;
  margin-left: 10px;
}
nav > div p {
  align-self: center;
  font-size: 14.5px;
  opacity: 0.15;
  margin-left: 10px;
}
nav form {
  background-color: #f6f6f6;
  padding: 0 13px;
  border-radius: 5px;
  line-height: 40px;
  width: 260px;
  margin-right: 8px;
}
nav i {
  opacity: 0.3;
}
nav input {
  border: none;
  background: none;
  width: 213.5px;
}

header > div {
  width: 1170px;
  margin: 0 auto;
  padding: 17px 30px 17px 18px;
  display: flex;
  justify-content: space-between;
}
header > div .left_area a {
  margin: 0 12px;
}
header > div .right_area a {
  margin-left: 18px;
}
header > div .right_area i {
  font-size: 17px;
}
header > div img {
  width: 17px;
  height: 17px;
  margin-bottom: -3px;
}

#area {
  width: 100%;
  font-weight: 600;
}
#area ul {
  width: 1170px;
  margin: 0 auto;
  padding: 13px 30px;
  display: flex;
}
#area li {
  padding: 7px 10px 8px 10px;
}

#slider_wrap {
  width: 100%;
}

#slider_wrap > div {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
#slider_wrap > div #slider {
  padding: 0 30px;
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
}
#slider_wrap > div #slider div {
  margin: 0 3px;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
#slider_wrap > div #slider div:nth-of-type(1) {
  flex-grow: 1;
  flex-basis: 0px;
  display: block;
}
#slider_wrap > div #slider div:nth-of-type(2) {
  flex-grow: 0;
  flex-basis: 41px;
  display: block;
}
#slider_wrap > div #slider div:nth-of-type(3) {
  flex-grow: 0;
  flex-basis: 41px;
  display: block;
}
#slider_wrap > div #slider div:nth-of-type(4) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(5) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(6) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(7) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(8) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(9) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(10) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(11) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(12) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(13) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(14) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(15) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(16) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(17) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(18) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(19) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div #slider div:nth-of-type(20) {
  flex-grow: 0;
  flex-basis: 0px;
  display: none;
}
#slider_wrap > div .slider_text_box {
  width: 1010px;
  height: 400px;
  margin-top: -400px;
  margin-left: 33px;
  position: relative;
}
#slider_wrap > div .slider_text_box .slider_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 270px 0 0 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#slider_wrap > div .slider_text_box .slider_text table {
  border-collapse: collapse;
  border-spacing: 0;
}
#slider_wrap > div .slider_text_box .slider_text td {
  border: 1px solid #fff;
  line-height: 15px;
  height: 15px;
  border-radius: 10px;
}
#slider_wrap > div .slider_text_box .slider_text img {
  height: 20px;
}
#slider_wrap > div .slider_text_box .slider_text h1 {
  color: #fff;
  line-height: 40px;
  letter-spacing: -0.02px;
}
#slider_wrap > div .slider_text_box .slider_text > div {
  display: flex;
  justify-content: space-between;
}
#slider_wrap > div .slider_text_box .slider_text > div p {
  color: #fff;
  opacity: 0.9;
  font-weight: 500;
}
#slider_wrap > div .slider_text_box .slider_text > div div {
  margin-right: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 500;
  padding: 0 9px;
  border-radius: 100px;
}
#slider_wrap > div .slider_text_box .slider_text > div div span {
  color: #fff;
}
#slider_wrap > div .slider_text_box .box1 {
  display: block;
}
#slider_wrap > div .slider_text_box .slider_text:not(:nth-of-type(1)) {
  display: none;
}
#slider_wrap > div > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  display: block;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
}
#slider_wrap > div > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#slider_wrap > div .prev {
  left: 12px;
}
#slider_wrap > div .next {
  right: 12px;
}

#select > div {
  width: 1170px;
  margin: 0 auto;
  margin-top: 30px;
}
#select ul {
  display: flex;
  justify-content: center;
}
#select ul li {
  margin: 0 10px;
}
#select ul img {
  width: 75px;
}
#select ul p {
  text-align: center;
  font-size: 13.5px;
  font-weight: 450;
}

#sec1 {
  padding-top: 35px;
  padding-bottom: 5px;
}
#sec1 > div {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
#sec1 .section_title {
  padding: 0 3px 20px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec1 .section_title h2 {
  font-size: 22px;
}
#sec1 .section_title h4 {
  opacity: 0.4;
  cursor: pointer;
}
#sec1 .sec1_slider {
  overflow: hidden;
}
#sec1 .sec1_slider ul {
  display: flex;
  width: 1400px;
}
#sec1 .sec1_slider .book_inf {
  width: 179px;
  margin: 0 3px;
}
#sec1 .sec1_slider .book_inf > a > .book_img {
  height: 260px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#sec1 .sec1_slider .book_inf > a > .book_img img {
  width: 100%;
}
#sec1 .sec1_slider .book_inf > a > .book_img > div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-84%);
  border-top-right-radius: 5px;
  overflow: hidden;
}
#sec1 .sec1_slider .book_inf > a > .book_img .rent {
  width: 28px;
}
#sec1 .sec1_slider .book_inf > a > .book_img .rent img {
  width: 100%;
  background-color: grey;
}
#sec1 .sec1_slider .book_inf > a > .book_img .sale {
  width: 28px;
}
#sec1 .sec1_slider .book_inf > a > .book_img .sale img {
  width: 100%;
  background-color: rgb(231, 44, 44);
}
#sec1 .sec1_slider .book_inf > a > .book_img .select {
  width: 28px;
}
#sec1 .sec1_slider .book_inf > a > .book_img .select img {
  width: 100%;
  background-color: darkkhaki;
}
#sec1 .sec1_slider .book_inf > div {
  line-height: 20px;
  padding-top: 8px;
}
#sec1 .sec1_slider .book_inf > div h4 {
  font-weight: 500;
  width: 165px;
  word-break: keep-all;
  overflow: hidden;
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#sec1 .sec1_slider .book_inf > div p {
  font-size: 14px;
  opacity: 0.6;
  padding-top: 2px;
}
#sec1 .sec1_slider > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
}
#sec1 .sec1_slider > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#sec1 .sec1_slider .prev {
  left: 15px;
  display: none;
}
#sec1 .sec1_slider .next {
  right: 15px;
  display: block;
}

#sec2 {
  width: 100%;
  padding-bottom: 5px;
}
#sec2 > div {
  width: 1170px;
  margin: 0 auto;
}
#sec2 .section_title {
  padding: 35px 33px 17px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec2 .section_title h2 {
  font-size: 22px;
}
#sec2 .section_title h4 {
  opacity: 0.4;
  cursor: pointer;
}
#sec2 .books {
  width: 100%;
  padding: 0 30px;
  position: relative;
}
#sec2 .books .books_wrap {
  width: 100%;
  padding: 0 3px;
  overflow: hidden;
}
#sec2 .books .books_wrap > div {
  width: 2223px;
}
#sec2 .books ul {
  display: flex;
}
#sec2 .books ul li {
  width: 16.6%;
}
#sec2 .books ol .book_detail {
  width: 100%;
  margin: 5px 0;
  display: flex;
}
#sec2 .books ol .book_detail img {
  width: 85px;
  border-radius: 5px;
  border: 1px solid #eee;
}
#sec2 .books ol .book_detail h3 {
  width: 85px;
  height: 123.25px;
  line-height: 115px;
  text-align: center;
  font-weight: 600;
  font-size: 17.5px;
}
#sec2 .books ol .book_detail div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
}
#sec2 .books ol .book_detail div h4 {
  font-weight: 500;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
#sec2 .books ol .book_detail div h5 {
  font-size: 14.5px;
  font-weight: 400;
  opacity: 0.8;
  cursor: pointer;
}
#sec2 .books ol .book_detail div h5:hover {
  opacity: 0.4;
}
#sec2 .books > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
}
#sec2 .books > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#sec2 .books .prev {
  left: 15px;
  display: none;
}
#sec2 .books .next {
  right: 15px;
  display: block;
}

#sec3 {
  width: 100%;
  padding-bottom: 5px;
}
#sec3 > div {
  width: 1170px;
  margin: 0 auto;
}
#sec3 .section_title {
  padding: 35px 30px 17px 30px;
}
#sec3 .section_title h2 {
  font-size: 22px;
  padding: 0 3px;
}
#sec3 .books {
  width: 100%;
  padding: 0 30px;
  position: relative;
}
#sec3 .books .books_wrap {
  width: 100%;
  padding: 0 3px;
  overflow: hidden;
}
#sec3 .books .books_wrap > div {
  width: 1472px;
}
#sec3 .books > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
}
#sec3 .books > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#sec3 .books .prev {
  left: 15px;
  display: none;
}
#sec3 .books .next {
  right: 15px;
  display: block;
}
#sec3 ul {
  display: flex;
}
#sec3 ul li {
  width: 362px;
  margin: 0 3px;
}
#sec3 ul .books_Img {
  position: relative;
  width: 100%;
  height: 148px;
  overflow: hidden;
}
#sec3 ul .books_Img > div {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}
#sec3 ul .books_Img > img {
  width: 105px;
  border-radius: 3.5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin-top: 5px;
}
#sec3 ul .img1 > div {
  background-color: navy;
}
#sec3 ul .img2 > div {
  background-color: skyblue;
}
#sec3 ul .img3 > div {
  background-color: palevioletred;
}
#sec3 ul .img4 > div {
  background-color: tomato;
}
#sec3 ul .books_text {
  text-align: center;
  padding-top: 15px;
}
#sec3 ul .books_text h4 {
  font-weight: 500;
}
#sec3 ul .books_text p {
  font-size: 14.5px;
  opacity: 0.8;
}

#sec4 {
  width: 100%;
  padding-bottom: 5px;
}
#sec4 > div {
  width: 1170px;
  margin: 0 auto;
}
#sec4 .section_title {
  padding: 35px 33px 17px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec4 .section_title h2 {
  font-size: 22px;
}
#sec4 .section_title h4 {
  opacity: 0.4;
  cursor: pointer;
}
#sec4 .books {
  width: 100%;
  padding: 0 30px;
  position: relative;
}
#sec4 .books .books_wrap {
  width: 100%;
  padding: 0 3px;
  overflow: hidden;
}
#sec4 .books .books_wrap > div {
  width: 2223px;
}
#sec4 .books ul {
  display: flex;
}
#sec4 .books ul li {
  width: 16.6%;
}
#sec4 .books ol .book_detail {
  width: 100%;
  margin: 5px 0;
  display: flex;
}
#sec4 .books ol .book_detail img {
  width: 85px;
  border-radius: 5px;
  border: 1px solid #eee;
}
#sec4 .books ol .book_detail h3 {
  width: 85px;
  height: 123.25px;
  line-height: 115px;
  text-align: center;
  font-weight: 600;
  font-size: 17.5px;
}
#sec4 .books ol .book_detail div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
}
#sec4 .books ol .book_detail div h4 {
  font-weight: 500;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
#sec4 .books ol .book_detail div h5 {
  font-size: 14.5px;
  font-weight: 400;
  opacity: 0.8;
  cursor: pointer;
}
#sec4 .books ol .book_detail div h5:hover {
  opacity: 0.4;
}
#sec4 .books > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
}
#sec4 .books > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#sec4 .books .prev {
  left: 15px;
  display: none;
}
#sec4 .books .next {
  right: 15px;
  display: block;
}

#sec5 {
  padding-top: 35px;
  padding-bottom: 5px;
}
#sec5 > div {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
#sec5 .section_title {
  padding: 0 3px 20px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec5 .section_title h2 {
  font-size: 22px;
}
#sec5 .section_title h4 {
  opacity: 0.4;
  cursor: pointer;
}
#sec5 .sec1_slider {
  overflow: hidden;
}
#sec5 .sec1_slider ul {
  display: flex;
  width: 1400px;
}
#sec5 .sec1_slider .book_inf {
  width: 179px;
  margin: 0 3px;
}
#sec5 .sec1_slider .book_inf > a > .book_img {
  height: 260px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#sec5 .sec1_slider .book_inf > a > .book_img img {
  width: 100%;
}
#sec5 .sec1_slider .book_inf > a > .book_img > div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-84%);
  border-top-right-radius: 5px;
  overflow: hidden;
}
#sec5 .sec1_slider .book_inf > a > .book_img .rent {
  width: 28px;
}
#sec5 .sec1_slider .book_inf > a > .book_img .rent img {
  width: 100%;
  background-color: grey;
}
#sec5 .sec1_slider .book_inf > a > .book_img .sale {
  width: 28px;
}
#sec5 .sec1_slider .book_inf > a > .book_img .sale img {
  width: 100%;
  background-color: rgb(231, 44, 44);
}
#sec5 .sec1_slider .book_inf > a > .book_img .select {
  width: 28px;
}
#sec5 .sec1_slider .book_inf > a > .book_img .select img {
  width: 100%;
  background-color: darkkhaki;
}
#sec5 .sec1_slider .book_inf > div {
  line-height: 20px;
  padding-top: 8px;
}
#sec5 .sec1_slider .book_inf > div h4 {
  font-weight: 500;
  width: 165px;
  word-break: keep-all;
  overflow: hidden;
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#sec5 .sec1_slider .book_inf > div p {
  font-size: 14px;
  opacity: 0.6;
  padding-top: 2px;
}
#sec5 .sec1_slider > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
}
#sec5 .sec1_slider > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#sec5 .sec1_slider .prev {
  left: 15px;
  display: none;
}
#sec5 .sec1_slider .next {
  right: 15px;
  display: block;
}

#sec6 {
  padding-top: 35px;
  padding-bottom: 5px;
}
#sec6 > div {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
#sec6 .section_title {
  padding: 0 3px 20px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec6 .section_title h2 {
  font-size: 22px;
}
#sec6 .section_title h4 {
  opacity: 0.4;
  cursor: pointer;
}
#sec6 .sec1_slider {
  overflow: hidden;
}
#sec6 .sec1_slider ul {
  display: flex;
  width: 1400px;
}
#sec6 .sec1_slider .book_inf {
  width: 179px;
  margin: 0 3px;
}
#sec6 .sec1_slider .book_inf > a > .book_img {
  height: 260px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#sec6 .sec1_slider .book_inf > a > .book_img img {
  width: 100%;
}
#sec6 .sec1_slider .book_inf > a > .book_img > div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-84%);
  border-top-right-radius: 5px;
  overflow: hidden;
}
#sec6 .sec1_slider .book_inf > a > .book_img .rent {
  width: 28px;
}
#sec6 .sec1_slider .book_inf > a > .book_img .rent img {
  width: 100%;
  background-color: grey;
}
#sec6 .sec1_slider .book_inf > a > .book_img .sale {
  width: 28px;
}
#sec6 .sec1_slider .book_inf > a > .book_img .sale img {
  width: 100%;
  background-color: rgb(231, 44, 44);
}
#sec6 .sec1_slider .book_inf > a > .book_img .select {
  width: 28px;
}
#sec6 .sec1_slider .book_inf > a > .book_img .select img {
  width: 100%;
  background-color: darkkhaki;
}
#sec6 .sec1_slider .book_inf > div {
  line-height: 20px;
  padding-top: 8px;
}
#sec6 .sec1_slider .book_inf > div h4 {
  font-weight: 500;
  width: 165px;
  word-break: keep-all;
  overflow: hidden;
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#sec6 .sec1_slider .book_inf > div p {
  font-size: 14px;
  opacity: 0.6;
  padding-top: 2px;
}
#sec6 .sec1_slider > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
}
#sec6 .sec1_slider > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#sec6 .sec1_slider .prev {
  left: 15px;
  display: none;
}
#sec6 .sec1_slider .next {
  right: 15px;
  display: block;
}

footer {
  width: 100%;
  border-top: 1.5px solid #eee;
  padding-bottom: 20px;
}

.top_foot {
  width: 1170px;
  margin: 0 auto;
  padding: 41px 26px 0 26px;
  display: flex;
  justify-content: space-between;
}
.top_foot .top_foot_r {
  width: 830px;
  display: flex;
}
.top_foot .top_foot_r > div {
  width: 23%;
  display: flex;
  flex-direction: column;
}
.top_foot .top_foot_r p {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
}

.f_box1 {
  padding-left: 4px;
}
.f_box1 a {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
}
.f_box1 a #c_c {
  width: 18.5px;
  margin-right: 9px;
  vertical-align: middle;
  opacity: 0.65;
}
.f_box1 a #notice {
  width: 15.3px;
  margin-left: 1.2px;
  margin-right: 11px;
  vertical-align: middle;
  opacity: 0.6;
}
.f_box1 a:last-child {
  margin-top: 23px;
}

.f_box2 a, .f_box3 a, .f_box4 a {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-weight: 400;
  margin-top: 8px;
}
.f_box2 a > #new, .f_box3 a > #new, .f_box4 a > #new {
  background-color: #1E9EFF;
  border-radius: 50%;
  padding: 2.5px 4.98px;
  vertical-align: middle;
  color: #fff;
  font-size: 7px;
  opacity: 100%;
}

.top_foot_l {
  margin-right: 4px;
  margin-top: 12px;
}
.top_foot_l a {
  opacity: 0.85;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 10px 16px;
  margin-left: 4px;
}
.top_foot_l #twitter {
  padding: 10px 18px 10px 14px;
}
.top_foot_l #play {
  padding: 10px 14px 10px 18px;
}
.top_foot_l i {
  width: 12px;
  opacity: 0.6;
  text-align: center;
}
.top_foot_l img {
  width: 12px;
  opacity: 0.6;
}

.bottom_foot {
  width: 1170px;
  margin: 0 auto;
  padding: 60px 0 20px 30px;
}
.bottom_foot div {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-size: 12.5px;
}
.bottom_foot div i {
  font-size: 9px;
  color: #888;
}
.bottom_foot ul {
  display: flex;
  padding-top: 8px;
}
.bottom_foot ul li {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-size: 11.5px;
  margin-right: 6px;
}
.bottom_foot ul li:not(:nth-of-type(3)) {
  font-weight: 400;
}
.bottom_foot ul li:nth-of-type(even) {
  opacity: 0.1;
}
.bottom_foot p {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-size: 11px;
  font-weight: 550;
  padding-top: 13px;
}