* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #141414;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", "Noto Serif KR";
  font-weight: 400;
}

header {
  width: 100%;
  border-bottom: 1.5px solid #eee;
  font-weight: 600;
}

nav {
  width: 1170px;
  margin: 0 auto;
  padding: 16px 30px 8px 30px;
  display: flex;
  justify-content: space-between;
}
nav > a {
  width: 56.96px;
  height: 20.3px;
  align-self: center;
}
nav img {
  width: 100%;
}
nav > div {
  display: flex;
}
nav > div a {
  align-self: center;
  font-size: 14.2px;
  opacity: 0.58;
  margin-left: 10px;
}
nav > div p {
  align-self: center;
  font-size: 14.5px;
  opacity: 0.15;
  margin-left: 10px;
}
nav form {
  background-color: #f6f6f6;
  padding: 0 13px;
  border-radius: 5px;
  line-height: 40px;
  width: 260px;
  margin-right: 8px;
}
nav form input {
  padding-left: 10px;
  outline: none;
  caret-color: #1E9EFF;
  font-size: 16px;
}
nav i {
  opacity: 0.3;
}
nav input {
  border: none;
  background: none;
  width: 213.5px;
}

header > div {
  width: 1170px;
  margin: 0 auto;
  padding: 17px 30px 17px 18px;
  display: flex;
  justify-content: space-between;
}
header > div .left_area a {
  margin: 0 12px;
  opacity: 0.6;
}
header > div .left_area a i {
  font-size: 12px;
  padding-left: 3px;
}
header > div .left_area a:hover {
  color: rgba(20, 20, 20, 0.4);
}
header > div .left_area a:hover i {
  color: rgba(20, 20, 20, 0.4);
}
header > div .right_area a {
  margin-left: 18px;
}
header > div .right_area i {
  font-size: 17px;
}
header > div img {
  width: 17px;
  height: 17px;
  margin-bottom: -3px;
}

#wrap {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

#detail_wrap {
  width: 80%;
  border-right: 1.5px solid #eee;
  padding-bottom: 100px;
}
#detail_wrap #book_header {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}
#detail_wrap #book_header .preview {
  width: 204px;
}
#detail_wrap #book_header .preview .book_imgs {
  width: 100%;
  height: 304.776px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#detail_wrap #book_header .preview .book_imgs::before {
  content: "";
  width: 33.33px;
  height: 100%;
  position: absolute;
  background-image: url("../img/book_side.jpg");
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(90deg);
}
#detail_wrap #book_header .preview .book_imgs::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/book_back.jpg");
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transform: rotateY(180deg) translateZ(33.33px);
}
#detail_wrap #book_header .preview .book_imgs img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#detail_wrap #book_header .preview .book_imgs:hover {
  transform: perspective(15cm) rotateY(35deg);
  cursor: url("../img/rotate180.svg"), pointer !important;
}
#detail_wrap #book_header .preview .book_imgs.rotate {
  transform: rotateY(180deg);
}
#detail_wrap #book_header .preview h4 {
  cursor: pointer;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 11px 0;
  text-align: center;
  color: #555;
  margin-top: 20px;
}
#detail_wrap #book_header .preview h4:hover {
  border: 1px solid #a5a5a5;
  transition: all 0.4s ease;
}
#detail_wrap #book_header .sale_inf {
  width: 642px;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > ol {
  display: flex;
  padding-bottom: 5px;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > ol li:nth-last-of-type(odd):hover {
  opacity: 0.5;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > ol li:nth-last-of-type(odd) {
  cursor: pointer;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > ol li {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > ol li i {
  font-size: 10px;
  padding: 0 5px;
  color: #999;
}
#detail_wrap #book_header .sale_inf .sale_inf_top h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  padding: 7px 0 9px 0;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > ul {
  display: flex;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .sc li {
  font-size: 14px;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .sc li i {
  font-size: 13px;
  color: #DC3232;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .sc li span {
  color: #444;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .sc li:nth-of-type(1) {
  font-weight: 600;
  color: #DC3232;
  cursor: pointer;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .sc li:nth-of-type(2) {
  font-size: 10px;
  color: #ddd;
  padding: 0 4px;
  align-self: center;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .sc li:nth-of-type(3) {
  color: #555;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .ah {
  margin: 3px 0;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .ah li {
  font-size: 14px;
  color: #555;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .ah li span {
  font-weight: 600;
  color: #555;
  cursor: pointer;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .ah li span:hover {
  opacity: 0.6;
  transition: all 0.3s ease-out;
}
#detail_wrap #book_header .sale_inf .sale_inf_top .ah li:nth-of-type(2) {
  font-size: 10px;
  color: #ddd;
  padding: 0 8px;
  align-self: center;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > p {
  font-size: 14px;
  color: #555;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > p span {
  font-weight: 600;
  color: #555;
  cursor: pointer;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > p span:hover {
  opacity: 0.6;
  transition: all 0.3s ease-out;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1E9EFF;
  border-radius: 100px;
  width: 65px;
  margin: 15px 0;
  cursor: pointer;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > div h4 {
  font-size: 14px;
  color: #1E9EFF;
  text-align: center;
}
#detail_wrap #book_header .sale_inf .sale_inf_top > div p {
  color: #1E9EFF;
  font-size: 25px;
  font-weight: 400;
  margin: -3px 0 -1px 0;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) {
  margin-bottom: 20px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) tr:nth-of-type(1) td, #detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) tr:nth-of-type(1) th {
  border-bottom: 1px solid #e6e6e6;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) td {
  width: 8.3%;
  line-height: 37px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) td h5 {
  font-size: 11px;
  width: 40px;
  line-height: 19px;
  text-align: center;
  border-radius: 2.5px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) td .eve {
  color: #605BAF;
  background-color: #E3E0EE;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) td .sel {
  color: #AAA068;
  background-color: #EDE7D8;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) th:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) th {
  line-height: 37.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  cursor: pointer;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) th h4 {
  color: #333;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(1) th i {
  color: #888;
  font-size: 13.5px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(2) th {
  width: 13%;
  background-color: #fafafa;
  font-size: 15px;
  color: #333;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(2) tr:nth-of-type(1) td {
  padding: 10px 0 5px 15px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(2) tr:nth-of-type(3) td {
  padding: 5px 0 10px 15px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(2) td:nth-of-type(1) {
  width: 30%;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  border-left: 1px solid #e6e6e6;
  padding-left: 15px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(2) td:nth-of-type(2) {
  width: 20%;
  font-size: 13.5px;
  font-weight: 600;
  color: #e54c43;
  text-align: right;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(2) td:nth-of-type(3) {
  width: 7%;
  font-size: 13.5px;
  font-weight: 600;
  color: #666;
  text-align: right;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > table:nth-of-type(2) .sell_price {
  color: #1E9EFF;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div button {
  border-radius: 5px;
  height: 52px;
  margin-left: 8px;
  cursor: pointer;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div button:not(:nth-of-type(4)) {
  width: 52px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div button:not(:nth-of-type(4)) i {
  font-size: 20px;
  color: #999;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div button:not(:nth-of-type(4)):hover {
  border: 1px solid #a5a5a5;
  transition: all 0.4s ease;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div button:not(:nth-of-type(4)):hover i {
  color: #555;
  transition: all 0.4s ease;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div button:nth-of-type(4) {
  width: 230px;
  border: none;
  background-color: #1E9EFF;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
#detail_wrap #book_header .sale_inf .sale_inf_bottom > div button:nth-of-type(4):hover {
  background-color: #0080f6;
  transition: all 0.4s ease;
}
#detail_wrap #book_data {
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  width: 875px;
  padding: 20px;
  margin: 60px 30px 0 30px;
}
#detail_wrap #book_data tr {
  line-height: 27px;
}
#detail_wrap #book_data tr th {
  font-size: 14px;
  width: 100px;
  text-align: left;
  vertical-align: top;
}
#detail_wrap #book_data tr td {
  font-size: 14px;
  color: #333;
  width: 337.5px;
  color: #777;
  text-align: left;
  vertical-align: top;
}
#detail_wrap #book_data tr td ul, #detail_wrap #book_data tr td ol {
  display: flex;
}
#detail_wrap #book_data tr td li {
  color: #777;
}
#detail_wrap #book_data tr td li:nth-of-type(even) {
  font-size: 10px;
  color: #ddd;
  padding: 0 10px;
  align-self: center;
}
#detail_wrap #book_data tr td .web {
  color: #d3d3d3;
}
#detail_wrap #book_data tr td i {
  color: #888;
}
#detail_wrap #book_data tr td .fa-globe {
  position: relative;
  color: #d3d3d3;
}
#detail_wrap #book_data tr td .fa-globe .fa-slash {
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(100deg);
  text-shadow: 1.5px 0px 0px #fafafa;
  color: #d3d3d3;
}
#detail_wrap #book_inf {
  width: 100%;
  margin-top: 60px;
  padding: 0 30px;
}
#detail_wrap #book_inf .title {
  padding-bottom: 16px;
}
#detail_wrap #book_inf .title h3 {
  font-size: 20px;
  font-weight: 500;
}
#detail_wrap #book_inf .title h2 {
  font-size: 22px;
  padding-top: 3px;
}
#detail_wrap #book_inf ul {
  display: flex;
}
#detail_wrap #book_inf ul.tab {
  border-top: 2px solid #787878;
}
#detail_wrap #book_inf ul.tab li {
  font-weight: 600;
  font-size: 18px;
  width: 33.3333333333%;
  padding: 14px 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #a5a5a5;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
#detail_wrap #book_inf ul.tab .click {
  background-color: #fff;
  color: #141414;
  border-bottom: none;
}
#detail_wrap #book_inf ul.tab li:nth-of-type(1) {
  border-right: 1px solid #cccccc;
}
#detail_wrap #book_inf ul.tab li:nth-of-type(2) {
  border-right: 1px solid #cccccc;
}
#detail_wrap #book_inf ul.content li p {
  padding: 15px 0;
  font-size: 15px;
  color: #555;
  letter-spacing: 0.01px;
  line-height: 23px;
}
#detail_wrap #book_inf ul.content li:not(:nth-of-type(1)) {
  display: none;
}
#detail_wrap #book_inf ul.content li:last-child {
  position: relative;
}
#detail_wrap #book_inf ul.content li:last-child p {
  height: 255px;
  overflow: hidden;
}
#detail_wrap #book_inf ul.content li:last-child div {
  width: 875px;
  height: 255px;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255));
  position: absolute;
  top: 0;
  left: 0;
}
#detail_wrap #book_inf ul.content li:last-child button {
  cursor: pointer;
  width: 875px;
  padding: 16px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}
#detail_wrap #book_inf ul.content li:last-child button i {
  font-size: 15px;
}
#detail_wrap #book_inf ul.content li:last-child button:hover {
  color: #777;
  transition: all 0.3s ease-out;
}
#detail_wrap #book_inf ul.content li:last-child button:hover i {
  color: #777;
  transition: all 0.3s ease-out;
}
#detail_wrap #book_author {
  width: 100%;
  margin-top: 60px;
  padding: 0 30px;
}
#detail_wrap #book_author > .title {
  padding-bottom: 16px;
}
#detail_wrap #book_author > .title h2 {
  font-size: 22px;
}
#detail_wrap #book_author ul {
  display: flex;
}
#detail_wrap #book_author ul.author_tab {
  border-top: 2px solid #787878;
}
#detail_wrap #book_author ul.author_tab li {
  font-weight: 600;
  font-size: 18px;
  width: 50%;
  padding: 14px 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #a5a5a5;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
#detail_wrap #book_author ul.author_tab .click {
  background-color: #fff;
  color: #141414;
  border-bottom: none;
}
#detail_wrap #book_author ul.author_tab li:nth-of-type(1) {
  border-right: 1px solid #cccccc;
}
#detail_wrap #book_author ul.author_content ol {
  display: flex;
}
#detail_wrap #book_author ul.author_content > li:first-child {
  padding: 15px 0;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_tab div {
  padding: 0 4px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: 400;
  color: #e6e6e6;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_tab li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f5f5;
  color: #787878;
  padding: 10px 12px 9px;
  border-radius: 100px;
  line-height: 19px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_tab li:last-child {
  margin-left: 10px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_tab .click {
  background-color: #141414;
  color: #fff;
  font-weight: 600;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_tab .click div {
  color: #fff;
  opacity: 0.2;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content > li:last-child {
  display: none;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf {
  border-bottom: 1px solid #f0f0f0;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header {
  padding: 15px 0 10px 0;
  display: flex;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header h2 {
  font-size: 22px;
  cursor: pointer;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header h2 span {
  font-size: 14px;
  color: #a5a5a5;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header h2:hover {
  opacity: 0.6;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header button {
  cursor: pointer;
  margin-left: 9px;
  padding: 6px 0;
  width: 157px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  color: #1E9EFF;
  border: 1px solid currentColor;
  border-radius: 100px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header button i {
  color: #1E9EFF;
  font-weight: 400;
  font-size: 13px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header button:hover {
  color: #0080f6;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .author_header button:hover i {
  color: #0080f6;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf table {
  line-height: 25px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf table th {
  width: 50px;
  font-size: 15px;
  color: #a5a5a5;
  vertical-align: top;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf table td {
  font-size: 15px;
  color: #555555;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .update {
  width: 875px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 15px 0;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .update h4 {
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
  margin-right: 6px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .update button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  background-color: #fff;
  color: #666;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px 7px 4px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .update button i {
  font-size: 8px;
  color: #888;
  padding-left: 1.5px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_inf .update button:hover {
  opacity: 0.6;
  transition: all 0.4s ease;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book {
  position: relative;
  padding-top: 20px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .title h3 {
  font-size: 18px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .title h4 {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #a5a5a5;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider > div {
  width: 875px;
  overflow: hidden;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider ul {
  width: 1750px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf {
  margin-right: 6px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img {
  width: 140.8333333333px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img img {
  width: 100%;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img > div {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-84%);
  border-top-right-radius: 5px;
  overflow: hidden;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img .rent {
  width: 28px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img .rent img {
  width: 100%;
  background-color: grey;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img .sale {
  width: 28px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img .sale img {
  width: 100%;
  background-color: rgb(231, 44, 44);
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img .select {
  width: 28px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > a > .book_img .select img {
  width: 100%;
  background-color: darkkhaki;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > div {
  line-height: 20px;
  padding-top: 8px;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > div h4 {
  font-weight: 500;
  width: 100%;
  word-break: keep-all;
  overflow: hidden;
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > div p {
  font-size: 14px;
  opacity: 0.6;
  padding-top: 2px;
  cursor: pointer;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .book_inf > div p:hover {
  opacity: 0.4;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider > span {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 0px #eee;
  cursor: pointer;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0.9;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider > span:hover i {
  opacity: 0.4;
  transition: all 0.2s ease-out;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .prev {
  left: -19px;
  display: none;
}
#detail_wrap #book_author ul.author_content > li:first-child .author_sub_content .author_book .author_slider .next {
  right: -19px;
  display: block;
}
#detail_wrap #book_author ul.author_content > li:last-child {
  display: none;
}
#detail_wrap #book_author ul.author_content > li:last-child p {
  padding: 15px 0;
  font-size: 15px;
  color: #555;
  letter-spacing: 0.01px;
  line-height: 23px;
}
#detail_wrap #book_review {
  padding: 0 30px;
  margin-top: 80px;
}
#detail_wrap #book_review > h2 {
  font-size: 22px;
  padding-bottom: 23px;
}
#detail_wrap #book_review .review_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
}
#detail_wrap #book_review .review_header .review_header_left {
  display: flex;
  align-items: flex-end;
}
#detail_wrap #book_review .review_header .review_header_left h1 {
  font-size: 48px;
  line-height: 50px;
}
#detail_wrap #book_review .review_header .review_header_left > div {
  padding-left: 10px;
}
#detail_wrap #book_review .review_header .review_header_left > div h4 {
  font-size: 15px;
  margin-bottom: -1px;
}
#detail_wrap #book_review .review_header .review_header_left > div i {
  font-size: 15px;
  width: 15px;
  color: #e54c43;
}
#detail_wrap #book_review .review_header .review_header_right {
  text-align: right;
}
#detail_wrap #book_review .review_header .review_header_right h4 {
  font-size: 15px;
  font-weight: 500;
  color: #787878;
}
#detail_wrap #book_review .review_header .review_header_right h5 {
  cursor: pointer;
  font-size: 15px;
  color: #787878;
}
#detail_wrap #book_review .review_header .review_header_right h5 i {
  color: #787878;
}
#detail_wrap #book_review .review_score {
  text-align: center;
  padding: 40px 0;
}
#detail_wrap #book_review .review_score h4 {
  font-size: 15px;
  color: #a5a5a5;
  font-weight: 500;
}
#detail_wrap #book_review .review_score .star_score {
  padding-top: 20px;
  cursor: default;
}
#detail_wrap #book_review .review_score .star_score i {
  font-size: 45px;
  color: #e6e6e6;
  cursor: pointer;
}
#detail_wrap #book_review .review_input {
  padding: 15px 15px;
  width: 875px;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
}
#detail_wrap #book_review .review_input:focus-within {
  border-color: #1E9EFF;
}
#detail_wrap #book_review .review_input textarea {
  width: 100%;
  height: 72px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14.5px;
  font-family: "Noto Sans KR", "Noto Serif KR";
  opacity: 0.6;
}
#detail_wrap #book_review .review_input form {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}
#detail_wrap #book_review .review_input form label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#detail_wrap #book_review .review_input form input {
  display: none;
}
#detail_wrap #book_review .review_input form .checkmark {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  position: relative;
}
#detail_wrap #book_review .review_input form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 100%;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#detail_wrap #book_review .review_input form input:checked + .checkmark {
  background-color: #1E9EFF;
  border-color: #1E9EFF;
}
#detail_wrap #book_review .review_input form input:checked + .checkmark:after {
  display: block;
}
#detail_wrap #book_review .review_input form span {
  font-size: 14px;
  font-weight: 500;
  color: #787878;
  margin-left: 6px;
}
#detail_wrap #book_review .review_input form button {
  padding: 7px 17px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
#detail_wrap #book_review > h5 {
  cursor: pointer;
  width: 129px;
  font-size: 14px;
  font-weight: 500;
  color: #787878;
  padding: 10px 0 30px 0;
}
#detail_wrap #book_review > h5 i {
  font-size: 12px;
  color: #787878;
  padding-left: 4px;
}
#detail_wrap #book_review ul {
  display: flex;
}
#detail_wrap #book_review ul.review_tab {
  border-top: 2px solid #787878;
}
#detail_wrap #book_review ul.review_tab li {
  font-weight: 600;
  font-size: 18px;
  width: 50%;
  padding: 14px 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #a5a5a5;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
#detail_wrap #book_review ul.review_tab .click {
  background-color: #fff;
  color: #141414;
  border-bottom: none;
}
#detail_wrap #book_review ul.review_tab li:nth-of-type(1) {
  border-right: 1px solid #cccccc;
}
#detail_wrap #book_review ul.review_content ol {
  display: flex;
}
#detail_wrap #book_review ul.review_content > li {
  padding-top: 15px;
}
#detail_wrap #book_review ul.review_content > li .review_sub_tab li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f5f5;
  color: #787878;
  padding: 10px 12px 9px;
  border-radius: 100px;
  line-height: 19px;
  margin-right: 10px;
}
#detail_wrap #book_review ul.review_content > li .review_sub_tab .click {
  background-color: #141414;
  color: #fff;
  font-weight: 600;
}
#detail_wrap #book_review ul.review_content > li .review_sub_tab .click div {
  color: #fff;
  opacity: 0.2;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content > li:not(:first-child) {
  display: none;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0 25px 0;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table tr {
  line-height: 30px;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .fa-star {
  font-size: 11px;
  width: 10px;
  color: #e54c43;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .review_text {
  width: 100%;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .review_text > div {
  height: 95px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .review_text > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  border: none;
  background-color: #fff;
  color: #a5a5a5;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .review_text > button i {
  font-size: 9px;
  color: #a5a5a5;
  padding-left: 4px;
  margin-top: 2px;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .review_text p {
  font-size: 15px;
  line-height: 23px;
  padding: 2px 0 3px 0;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .id {
  display: flex;
  align-items: center;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .id button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  height: 16px;
  width: 34px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .id button span {
  color: #a5a5a5;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .id h5 {
  color: #a5a5a5;
  padding-left: 4px;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table tr:last-child {
  display: flex;
  justify-content: space-between;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .date {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #a5a5a5;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .date .aa {
  color: #a5a5a5;
  cursor: pointer;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .date .border {
  font-size: 10px;
  color: #a5a5a5;
  margin-bottom: 2px;
  padding: 0 6px;
  color: #eee;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .date .dot {
  padding: 0 3px;
  color: #eee;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .btn {
  text-align: right;
  display: flex;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .btn button {
  cursor: pointer;
  width: 65px;
  height: 33px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  margin-left: 6px;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .btn button span {
  color: #787878;
  font-weight: 500;
}
#detail_wrap #book_review ul.review_content > li .review_sub_content table .btn button span i {
  color: #a5a5a5;
  font-size: 13px;
  margin-right: 6px;
}
#detail_wrap #book_review ul.review_content > li:last-child {
  display: none;
}
#detail_wrap #book_review > h6 {
  cursor: pointer;
  width: 203px;
  font-size: 14px;
  font-weight: 500;
  color: #787878;
  padding-top: 10px;
}
#detail_wrap #book_review > h6 i {
  font-size: 12px;
  color: #787878;
  padding-left: 4px;
}

#aside_wrap {
  width: 20%;
}
#aside_wrap > img {
  width: 100%;
}
#aside_wrap .aside_text {
  padding: 30px 0 0 30px;
}
#aside_wrap .aside_text > h4 {
  font-size: 14px;
  padding-bottom: 10px;
}
#aside_wrap .aside_text > h4 i {
  font-size: 10px;
}
#aside_wrap .aside_text li {
  display: flex;
  align-items: center;
  line-height: 25px;
  cursor: pointer;
}
#aside_wrap .aside_text li h5 {
  width: 28px;
  color: rgb(235, 51, 51);
}
#aside_wrap .aside_text li p {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
  width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#aside_wrap .aside_text li p:hover {
  opacity: 0.4;
  transition: all 0.3s ease-out;
}

footer {
  width: 100%;
  border-top: 1.5px solid #eee;
  padding-bottom: 20px;
}

.top_foot {
  width: 1170px;
  margin: 0 auto;
  padding: 41px 26px 0 26px;
  display: flex;
  justify-content: space-between;
}
.top_foot .top_foot_r {
  width: 830px;
  display: flex;
}
.top_foot .top_foot_r > div {
  width: 23%;
  display: flex;
  flex-direction: column;
}
.top_foot .top_foot_r p {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
}
.top_foot .top_foot_r a:hover {
  opacity: 0.7;
}

.f_box1 {
  padding-left: 4px;
}
.f_box1 a {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
}
.f_box1 a #c_c {
  width: 18.5px;
  margin-right: 9px;
  vertical-align: middle;
  opacity: 0.65;
}
.f_box1 a #notice {
  width: 15.3px;
  margin-left: 1.2px;
  margin-right: 11px;
  vertical-align: middle;
  opacity: 0.6;
}
.f_box1 a:last-child {
  margin-top: 23px;
}

.f_box2 a,
.f_box3 a,
.f_box4 a {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-weight: 400;
  margin-top: 8px;
}
.f_box2 a > #new,
.f_box3 a > #new,
.f_box4 a > #new {
  background-color: #1E9EFF;
  border-radius: 50%;
  padding: 2.5px 4.98px;
  vertical-align: middle;
  color: #fff;
  font-size: 7px;
  opacity: 100%;
}

.top_foot_l {
  margin-right: 4px;
  margin-top: 12px;
}
.top_foot_l a {
  opacity: 0.85;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 10px 16px;
  margin-left: 4px;
}
.top_foot_l #twitter {
  padding: 10px 18px 10px 14px;
}
.top_foot_l #play {
  padding: 10px 14px 10px 18px;
}
.top_foot_l i {
  width: 12px;
  opacity: 0.6;
  text-align: center;
}
.top_foot_l img {
  width: 12px;
  opacity: 0.6;
}

.bottom_foot {
  width: 1170px;
  margin: 0 auto;
  padding: 60px 0 20px 30px;
}
.bottom_foot div {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-size: 12.5px;
  cursor: pointer;
}
.bottom_foot div i {
  font-size: 9px;
  color: #888;
}
.bottom_foot ul {
  display: flex;
  padding-top: 8px;
}
.bottom_foot ul li {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-size: 11.5px;
  margin-right: 6px;
}
.bottom_foot ul li:not(:nth-of-type(3)) {
  font-weight: 400;
}
.bottom_foot ul li:nth-of-type(even) {
  opacity: 0.1;
}
.bottom_foot ul li:nth-of-type(odd) {
  cursor: pointer;
}
.bottom_foot ul li:nth-of-type(odd):hover {
  opacity: 0.7;
}
.bottom_foot p {
  font-size: 13.5px;
  font-weight: 600;
  color: #777;
  font-size: 11px;
  font-weight: 550;
  padding-top: 13px;
}

#modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
#modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
#modal .bg .popup {
  width: 950px;
  height: 900px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
#modal .bg .popup .modal_front {
  width: 74%;
}
#modal .bg .popup .modal_front .front_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 45px;
  border-bottom: 1px solid #d8d8d8;
}
#modal .bg .popup .modal_front .front_header button {
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
#modal .bg .popup .modal_front .front_header button:hover {
  color: #1E9EFF;
}
#modal .bg .popup .modal_front .front_header button:hover i {
  color: #1E9EFF;
}
#modal .bg .popup .modal_front .front_header button i {
  font-size: 13px;
  color: #c4c4c4;
  padding-right: 5px;
  margin-top: 3px;
}
#modal .bg .popup .modal_front .front_header .text_size {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}
#modal .bg .popup .modal_front .front_header .text_size table {
  border-collapse: collapse;
  border-style: hidden;
}
#modal .bg .popup .modal_front .front_header .text_size tr {
  display: flex;
}
#modal .bg .popup .modal_front .front_header .text_size th {
  cursor: pointer;
  width: 43px;
  line-height: 28px;
  color: #a5a5a5;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal .bg .popup .modal_front .front_header .text_size th:hover {
  background-color: #eee;
}
#modal .bg .popup .modal_front .front_header .text_size .minus {
  font-size: 10.5px;
}
#modal .bg .popup .modal_front .front_header .text_size .minus:hover {
  border-radius: 5px 0 0 5px;
}
#modal .bg .popup .modal_front .front_header .text_size .minus i {
  font-size: 8px;
  padding-left: 3px;
  color: #a5a5a5;
}
#modal .bg .popup .modal_front .front_header .text_size .plus {
  font-size: 14px;
  border-left: 1px solid #d8d8d8;
}
#modal .bg .popup .modal_front .front_header .text_size .plus:hover {
  border-radius: 0 5px 5px 0;
}
#modal .bg .popup .modal_front .front_header .text_size .plus i {
  font-size: 10px;
  padding-left: 3px;
  color: #a5a5a5;
}
#modal .bg .popup .modal_front .front_content > div {
  width: 100%;
  padding: 25px 60px 60px 60px;
  overflow: hidden;
}
#modal .bg .popup .modal_front .front_content > div#start {
  height: 855px;
}
#modal .bg .popup .modal_front .front_content > div#start img {
  height: 100%;
}
#modal .bg .popup .modal_front .front_content > div#first_ch {
  display: none;
  height: 800px;
}
#modal .bg .popup .modal_front .front_content > div#first_ch h4 {
  text-align: center;
  padding: 150px 0 35px 0;
  font-weight: 500;
  font-size: 17px;
}
#modal .bg .popup .modal_front .front_content > div#first_ch p {
  font-size: 19px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 0.01px;
}
#modal .bg .popup .modal_front .front_content > div#first_ch p span {
  font-size: 13px;
  color: #666;
  font-weight: 400;
}
#modal .bg .popup .modal_side {
  cursor: default;
  width: 26%;
  background-color: #ededed;
  border-left: 1px solid #e6e6e6;
}
#modal .bg .popup .modal_side .side_header {
  border-bottom: 1px solid #d8d8d8;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  font-size: 17px;
  font-weight: 500;
  color: #a5a5a5;
}
#modal .bg .popup .modal_side .side_content ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 11.5px 15px;
  font-size: 15px;
}
#modal .bg .popup .modal_side .side_content ul li.click {
  background-color: #e2e2e2;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(1) {
  cursor: pointer;
  color: #555;
  font-weight: 500;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(1):not(.click):hover {
  color: #222;
  background-color: #e8e8e8;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(2) {
  cursor: pointer;
  color: #555;
  font-weight: 500;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(2):not(.click):hover {
  color: #222;
  background-color: #e8e8e8;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(3) {
  cursor: pointer;
  color: #555;
  font-weight: 500;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(3):not(.click):hover {
  color: #222;
  background-color: #e8e8e8;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(4) {
  cursor: pointer;
  color: #555;
  font-weight: 500;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(4):not(.click):hover {
  color: #222;
  background-color: #e8e8e8;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(5) {
  cursor: pointer;
  color: #555;
  font-weight: 500;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(5):not(.click):hover {
  color: #222;
  background-color: #e8e8e8;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(6) {
  cursor: pointer;
  color: #555;
  font-weight: 500;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(6):not(.click):hover {
  color: #222;
  background-color: #e8e8e8;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(7) {
  color: #bebebe;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(8) {
  color: #bebebe;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(9) {
  color: #bebebe;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(10) {
  color: #bebebe;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(11) {
  color: #bebebe;
}
#modal .bg .popup .modal_side .side_content ul li:nth-of-type(12) {
  color: #bebebe;
}